@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    background-color: theme('colors.ivory');
    color: theme('colors.ink');
    font-family: theme('fontFamily.sans');
  }
}
